<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Password Reset Complete</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/password_reset_complete.css' %}" />
</head>
<body>
  <div class="main shadow-sm">
    <h1>Password Reset Complete</h1>
    <p>Your password has been set. You may now go ahead and log in.</p>

    <a href="{% url 'log_in' %}" class="btn btn-login">Login Now</a>
  </div>
</body>
</html>
