{% extends "profile_dashboard.html" %}
{% load static %}

{% block maincontent %}
<div class="profile-container">
  <h1 class="section-title">Update Profile</h1>
  <div class="profile-card">
    <div class="profile-picture">
      {% if request.user.profile.profile_picture %}
      <img src="{{ request.user.profile.profile_picture.url }}" alt="Profile Picture">
      {% else %}
      <img src="{% static 'images/avtar.jpg' %}" alt="Default Picture">
      {% endif %}
    </div>

    <div class="profile-form">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-fields">
          {{ form.as_p }}
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Update Profile">
      </form>
    </div>
  </div>
  {% if messages %}
  <div id="toast" class="toast-message show">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
