{% extends "base_tenant.html" %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h2>Chat with {{ receiver.username }}</h2>
    <div id="message-box">
        {% for message in messages %}
        <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">
            <p>{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>

    <form id="message-form">
        {% csrf_token %}
        <input type="text" name="content" class="form-control" placeholder="Type a message...">
        <button type="submit" class="btn btn-primary mt-2">Send</button>
    </form>
</div>
{% endblock content %}